.mhm {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
}
.da{
    float: left;
}
.ne{
    text-align: right;
}
.tip{
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
    border: 1px solid #aaa;
    transition: .3s border-color;
}
.tip:hover{
    border: 1px solid #333;
}
.tipka{
    padding:10px;
    border:none;
    background-color:#333;
    color:white;
    font-size: 15px;
    width:49%;
  }